
#========================================================
#|             TEST CONFIGURATION VARIABLES             |
#========================================================
# [*] TMIN: Minimum Execution Time for each convolution.
#           If TEST activated, TMIN value must be 0.0
#--------------------------------------------------------
TMIN=3.0

#--------------------------------------------------------
# [*] TEST:  [ T:Enable, F:Disable ]
#--------------------------------------------------------
TEST=F

#--------------------------------------------------------
# [*] DEBUG: [ T:Enable, F:Disable ]
#--------------------------------------------------------
DEBUG=F

#--------------------------------------------------------
# [*] THREAD_NUM: [ 1-N ]
#--------------------------------------------------------
THREADS=1

#--------------------------------------------------------
# [*] Convolution Algorithm
#--------------------------------------------------------
# OPTIONS AVAILABLES:       
#   [*] CONVDIRECT
#   [*] LOWERING
ALGORITHM="LOWERING"

#--------------------------------------------------------
# [*] Algorithm for Lowering 
#--------------------------------------------------------
# OPTION AVAILABLES:
#   [*] B3A2C0
#   [*] BLIS
#   [*] OPENBLAS
GEMM="B3A2C0"

#--------------------------------------------------------
# [*] MR-NR Values 
#--------------------------------------------------------
MR=4
NR=4

#--------------------------------------------------------
# [*] Micro-kernels BestOf Mode [ T:Enable, F:Disable ]
#--------------------------------------------------------
BESTOF=T

#========================================================
#========================================================


