
#========================================================
#|             TEST CONFIGURATION VARIABLES             |
#========================================================
# [*] TMIN: Minimum Execution Time for each convolution.
#           If TEST activated, TMIN value must be 0.0
#--------------------------------------------------------
TMIN=2.0

#--------------------------------------------------------
# [*] TEST:  [ T:Enable, F:Disable ]
#--------------------------------------------------------
TEST=T

#--------------------------------------------------------
# [*] DEBUG: [ T:Enable, F:Disable ]
#--------------------------------------------------------
DEBUG=F

#--------------------------------------------------------
# [*] THREAD_NUM: [ 1-N ]
#--------------------------------------------------------
THREADS=1

#--------------------------------------------------------
# [*] Convolution Algorithm
#--------------------------------------------------------
# OPTIONS AVAILABLES:       
#   [*] CONVDIRECT
#   [*] LOWERING
#   [*] CONVGEMM
ALGORITHM="LOWERING"

#--------------------------------------------------------
# [*] Algorithm for Lowering 
#--------------------------------------------------------
# OPTION AVAILABLES:
#   [*] B3A2C0
#   [*] BLIS
#   [*] OPENBLAS
GEMM="OPENBLAS"

#--------------------------------------------------------
# [*] MR-NR Values 
#--------------------------------------------------------
MR=4
NR=4

#--------------------------------------------------------
# [*] Micro-kernels BestOf Mode [ T:Enable, F:Disable ]
#     WARNING: ONLY AVAILABLE FOR:
#              * CONVDIRECT
#              * CONVGEMM
#              * LOWERING + B3A2C0
#--------------------------------------------------------
BESTOF=F

#========================================================
#========================================================


