
#========================================================
#|             TEST CONFIGURATION VARIABLES             |
#========================================================
# [*] TMIN: Minimum Execution Time for each convolution.
#           If TEST activated, TMIN value must be 0.0
#--------------------------------------------------------
TMIN=1.0
#--------------------------------------------------------


#--------------------------------------------------------
# [*] TEST:  [ T:Enable, F:Disable ]
#--------------------------------------------------------
TEST=F
#--------------------------------------------------------


#--------------------------------------------------------
# [*] DEBUG: [ T:Enable, F:Disable ]
#--------------------------------------------------------
DEBUG=F
#--------------------------------------------------------


#--------------------------------------------------------
# [*] THREAD_NUM: [ 1-N ]
#--------------------------------------------------------
THREADS=1
#--------------------------------------------------------


#--------------------------------------------------------
# [*] Convolution Algorithm
#--------------------------------------------------------
# Algorithms availables:       
#--------------------------------------------------------   
#   [*] CONVDIRECT
#   [*] CONVGEMM
#   [*] LOWERING
#   [*] WINOGRAD
ALGORITHM="LOWERING"
#--------------------------------------------------------   


#--------------------------------------------------------
# [*] Algorithm for Lowering & Winograd
#--------------------------------------------------------
# Options availables for Lowering:
#   [*] B3A2C0
#   [*] BLIS
#   [*] OPENBLAS
# Options availables for Winograd:
#   [*] OPENBLAS
#   [*] BLIS
GEMM="B3A2C0"
#--------------------------------------------------------


#--------------------------------------------------------
# [*] MR-NR Values 
#--------------------------------------------------------
MR=8
NR=12
#--------------------------------------------------------

#TODO: Add MC, NC, KC (if -1, modelLevel)

#--------------------------------------------------------
# [*] Micro-kernels BestOf Mode [ T:Enable, F:Disable ]
#     WARNING: Only avaible for:
#              [*] CONVDIRECT
#              [*] CONVGEMM
#              [*] LOWERING + B3A2C0
#--------------------------------------------------------
BESTOF=T
#--------------------------------------------------------


#--------------------------------------------------------
# [*] Model Level parameters
#     To increase the performace, select a correct 
#     cache configuration file "ONLY FILE NAME".
#
#     If your platmorm is not supported, please, 
#     create your own file configuration.
#     
#     Predefined configurations availables:
#       [*] JETSON_NANO
#       [*] JETSON_XAVIER
#       [*] JETSON_AGX_ORIN
#       [*] RISCV_C910
#--------------------------------------------------------
PLATFORM=JETSON_XAVIER
#--------------------------------------------------------
#========================================================
#========================================================


