#========================================================
# MICRO-KERNEL GENERATOR PARAMETERS 
#========================================================
#--------------------------------------------------------
# [*] Software Pipelining: [ T:Enable, F:Disable ]
#--------------------------------------------------------
PIPELINING=F
#--------------------------------------------------------
# [*] Reorder Loads: [ T:Enable, F:Disable ]
#--------------------------------------------------------
REORDER=F
#--------------------------------------------------------
# [*] UNROLL FACTOR: [ 0, 2, 4, 6, 8]
#--------------------------------------------------------
UNROLL=0
#--------------------------------------------------------
# [*] Matrix operation Mode: [ GATHER, BROADCAST ]
#--------------------------------------------------------
OP=BROADCAST
#========================================================
